body {
  margin: 0;
}
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 20px;
  background-color: #000;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}
.menu {
  display: inline-block;
  vertical-align: middle;
}

 li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
  color: white;
}

li:hover {
  color: #004bcc;
  animation: ruszamysie 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes ruszamysie {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fb {
  float: right;
  color: #fff;
  padding-top: 5px;
}

.fb h3 {
  margin-top: 10px;
  padding: 10px; 15px;
  border: 1px solid #3b5998;
  border-radius: 25px;
  background-color: #3b5998;
  animation: ruszamysie 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.fb a {
  color: white;
}